---
import { MenuLinks } from "@/content/menu-links";
import { github, linkedin } from "@/content/social-links";

import ScrollText from "@components/visual/ScrollText.astro";
import Portrait from "@components/menu/Portrait";
import ThemeToggle from "@components/ThemeToggle.astro";
import Clock from "@components/menu/Clock.astro";
import Link from "@components/nav/Link.astro";
import Button from "@components/nav/Button.astro";
---

<div
    class="menu-main fixed z-10 flex flex-col justify-between border border-brand-black bg-brand-white text-sm uppercase max-[384px]:w-[calc(100%_-_40px)] min-[385px]:w-60"
>
    <div class="w-full p-2 pb-1 text-center">
        <p>// menu</p>
    </div>
    <nav
        class="flex flex-col items-center gap-4 border-y border-brand-black py-4"
    >
        {
            MenuLinks.map((link) => (
                <div class="menu-nav-item overflow-hidden last:-mb-1">
                    <Link href={link.href} class="group">
                        <ScrollText initial="top-full right-full">
                            {link.title}
                        </ScrollText>
                    </Link>
                </div>
            ))
        }
    </nav>
    <div class="menu-portrait h-28 border-b border-brand-black">
        <Portrait client:idle />
    </div>
    <div class="flex w-full justify-center gap-4 py-3">
        <Link href={github} target="_blank" class="group">
            <ScrollText>GitHub [↗]</ScrollText>
        </Link>
        <Link href={linkedin} target="_blank" class="group">
            <ScrollText>LinkedIn [↗]</ScrollText>
        </Link>
    </div>
    <div class="flex w-full justify-center gap-4 pb-2 pt-3">
        <ThemeToggle />
        <Button id="menu-music-switch">[ sound off ]</Button>
    </div>
    <div
        class="flex w-full justify-between border-t border-brand-black px-3 pb-1 pt-2 [&_p]:tracking-tighter"
    >
        <Clock />
        <p>São Paulo, Brazil</p>
    </div>
</div>

<script>
    import { sound, FADE_DURATION, VOLUME } from "@/lib/howler";

    const menuMusicBtn = document.getElementById(
        "menu-music-switch"
    ) as HTMLButtonElement;

    menuMusicBtn.addEventListener("click", () => {
        if (sound.playing()) {
            menuMusicBtn.innerText = "[ sound off ]";

            sound.fade(sound.volume(), 0, FADE_DURATION);

            setTimeout(() => {
                sound.pause();
            }, FADE_DURATION);
        } else {
            menuMusicBtn.innerText = "[ sound on ]";

            sound.play();
            sound.fade(0, VOLUME, FADE_DURATION);
        }
    });
</script>
