---
import Button from "@components/nav/Button.astro";
import MagneticButton from "@components/nav/MagneticButton.astro";
---

<MagneticButton className="h-full">
    <Button
        class="menu-button relative h-full w-20 overflow-hidden text-sm"
        aria-label="Menu"
    >
        <div class="relative h-full" aria-hidden="true">
            <div class="flex h-full w-full items-center justify-center">
                <span>[ Menu ]</span>
            </div>
            <div
                class="absolute top-full flex h-full w-full items-center justify-center"
            >
                <span>[ Close ]</span>
            </div>
        </div>
    </Button>
</MagneticButton>

<script>
    import { gsap } from "@/lib/gsap";

    let isActive = false;

    const menuMain = document.querySelector(".menu-main") as HTMLDivElement;
    const menuButton = document.getElementsByClassName(
        "menu-button"
    )[0] as HTMLButtonElement;

    const tl = gsap.timeline({
        paused: true,
        defaults: { ease: "none" },
    });

    const menu_button_anim = gsap.to(".menu-button > div", {
        yPercent: -100,
        duration: 0.75,
        ease: "none",
        paused: true,
    });

    function init() {
        gsap.set(".menu-main", { right: 20, top: 0, yPercent: -100 });

        tl.to(
            ".menu-main",
            {
                yPercent: 0,
                top: 64,
                duration: 1,
            },
            "<"
        ).from(
            ".menu-portrait",
            {
                yPercent: -100,
                clipPath: "inset(100% 0% 0% 0%)",
                duration: 1,
            },
            "<"
        );

        document.addEventListener("click", handleClickOutside);
    }

    function handleClickOutside(event: MouseEvent) {
        if (
            isActive &&
            !menuMain.contains(event.target as Node) &&
            !menuButton.contains(event.target as Node)
        ) {
            closeMenu();
        }
    }

    function closeMenu() {
        isActive = false;
        gsap.to(menu_button_anim, {
            time: 0,
        });
        tl.tweenTo(0, {
            ease: "ease_1",
        });
    }

    menuButton.addEventListener("click", (event: Event) => {
        event.stopPropagation();
        isActive = !isActive;

        gsap.to(menu_button_anim, {
            time: isActive ? menu_button_anim.duration() : 0,
        });
        tl.tweenTo(isActive ? tl.duration() : 0, {
            ease: "ease_1",
        });
    });

    document.addEventListener("keydown", (event: KeyboardEvent) => {
        if (event.key === "Escape" && isActive) {
            closeMenu();
        }
    });

    window.addEventListener("load", () => init());
</script>
