---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";
import { posts_index as quotes } from "@/content/quotes";

const posts = await getCollection("posts");
---

<Layout
    title="Posts — Yuri Silva"
    description="Where I post about projects and everything."
>
    <section class="container max-w-3xl space-y-3 pt-10">
        <p class="select-none text-muted-foreground">
            {quotes[(quotes.length * Math.random()) | 0]}
        </p>
        <ul class="space-y-8">
            {
                posts.map((post) => (
                    <li>
                        <a href={"/posts/" + post.slug}>
                            {post.data.title}{" "}
                            <span class="italic text-muted-foreground">
                                ({post.data.pubDate.getFullYear()})
                            </span>
                        </a>
                        <p class="text-base text-muted-foreground">
                            {post.data.description}
                        </p>
                    </li>
                ))
            }
        </ul>
    </section>
</Layout>
