---
import Layout from "@/layouts/Layout.astro";
import HomeContent from "@components/HomeContent.astro";
import Portrait from "@components/HomePortrait";
import Marquee from "@components/visual/Marquee.astro";
import Reveal from "@components/visual/Reveal.astro";
---

<Layout title="Creative Developer">
    <div
        class="absolute left-1/2 top-1/2 hidden h-full max-h-[624px] w-full max-w-lg -translate-x-1/2 -translate-y-1/2 md:block"
    >
        <Portrait client:load />
    </div>
    <HomeContent />
    <div
        class="absolute bottom-24 left-1/2 flex w-36 -translate-x-1/2 select-none overflow-hidden uppercase"
    >
        <Marquee />
    </div>
</Layout>
<Reveal />
