<section class="uppercase container [&_div]:flex [&_div]:justify-between">
  <div>
    <p>Yuri Silva</p>
    <p>Available—2024</p>
  </div>
  <p>olá, my name is Yuri and I'm a creative developer based in São Paulo.</p>
  <div>
    <a href="/about">About me</a>
    <a href="/posts">Posts</a>
  </div>
</section>
