<section
    class="container relative my-auto uppercase sm:max-w-96 md:text-background [&_div]:flex [&_div]:justify-between"
>
    <div>
        <p>Yuri Silva</p>
        <p class="italic">Available—2024</p>
    </div>
    <p class="text-justify">
        Olá, my name is Yuri and I'm a creative developer based in São Paulo.
    </p>
    <div class="mt-4 hover:*:underline hover:*:underline-offset-2">
        <a href="/about">About me</a>
        <a href="/posts">Posts</a>
    </div>
</section>
