<div
    class="prose dark:prose-invert
  prose-h1:font-bold prose-h1:text-xl
  prose-a:text-blue-600 prose-img:rounded-xl prose-headings:mt-12 prose-blockquote:font-normal prose-blockquote:not-italic prose-neutral prose-code:after:content-none prose-code:before:content-none"
>
    <slot />
</div>
