---
interface Props {
    className?: string;
}

const { className } = Astro.props;
---

<div class={"flex select-none gap-4 overflow-hidden " + className}>
    <ul
        class="flex min-w-full shrink-0 animate-slider justify-around gap-4 motion-reduce:animate-[slider_24s_linear_infinite]"
    >
        <slot />
    </ul>
    <ul
        class="flex min-w-full shrink-0 animate-slider justify-around gap-4 motion-reduce:animate-[slider_24s_linear_infinite]"
        aria-hidden="true"
    >
        <slot />
    </ul>
</div>
