---
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Favicon from "@components/Favicon.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="font-sans antialiased min-h-screen tracking-tighter flex flex-col"
  >
    <Favicon />
    <Header />
    <main class="flex-1 grid place-content-center">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "Helvetica";
    src: url("/fonts/HelveticaNowVar.woff2") format("woff2");
    font-display: swap;
  }
</style>
