---
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Favicon from "@components/Favicon.astro";

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" href="/icon.svg" type="image/svg+xml" />
        <link rel="icon" href="/favicon.ico" sizes="32x32" />
        <link
            rel="apple-touch-icon"
            href="/apple-touch-icon.png"
        /><!-- 180×180 -->
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body
        class="flex min-h-screen flex-col font-sans tracking-tighter antialiased"
    >
        <Favicon />
        <Header />
        <main class="grid flex-1 place-content-center">
            <slot />
        </main>
        <Footer />
    </body>
</html>

<style is:global>
    @font-face {
        font-family: "Helvetica";
        src: url("/fonts/HelveticaNowVar.woff2") format("woff2");
        font-display: swap;
    }
</style>
