---
import { Image } from "astro:assets";
import Logo from "@/assets/Logo.svg";
import MagneticButton from "@components/nav/MagneticButton.astro";
import Menu from "@components/nav/Menu.astro";
import MenuButton from "@components/nav/MenuButton.astro";
---

<header
    class="header sticky top-0 z-10 flex w-full items-center justify-between px-8 pt-8"
>
    <MagneticButton className="z-10">
        <a href="/">
            <Image src={Logo} alt="Yuri's personal logo" loading="eager" />
        </a>
    </MagneticButton>
    <nav class="z-10">
        <MenuButton />
    </nav>
    <Menu />
</header>
