<div>
    <div class="uppercase">
        <span class="text-muted-foreground">Info</span>
        <p>Front-end / Creative</p>
        <p>Full-time / Freelance (available)</p>
        <p>São Paulo, Brazil</p>
        <p>18Y</p>
    </div>
    <nav
        class="*:text-muted-foreground flex max-w-44 flex-wrap gap-2 *:text-5xl *:font-medium *:uppercase md:gap-8"
    >
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/posts">Posts</a>
    </nav>
</div>
